<form class="sign-in-form" id="loginfm" method="POST" action="{{= panelPath}}summer-auth/login">
	<div><input type="text"  placeholder="Email" required="required" name="admin-z-login"></div>
	<div><input type="password"  placeholder="Password" required="required" name="admin-z-password"></div>
	<div class="form-footer">
		<span style="float: left; text-align: left; line-height: 1.8em;">
			<a href="#"  class="sign-up" ><span class="fa fa-user-plus"></span> Зарегистрироваться</a><br/>
			<a href="#"  class="sign-up" ><span class="fa fa-mail4"></span> Забыли E-mail?</a>
		</span>
		<button type="submit">Войти</button><br/>
	</div>
</form>

